@model Bdproductos.Models.Product

<h1>Detalles</h1>
<p><strong>Id:</strong>@Model.Id</p>
<p><strong>Name:</strong>@Model.Name</p>
<p><strong>Description:</strong>@Model.Description</p>
<p><strong>Price:</strong>@Model.Price</p>
<p><strong>Amount:</strong>@Model.Amount</p>
<p><strong>ExpirationDate:</strong>@Model.ExpirationDate</p>
<p><strong>UserId:</strong>@Model.UserId</p>
